.logo {
  display: inline-block;
  width: 100%;

  @include md {
    margin: 40px 0;
  }
}

.logo-image {
  display: block;
  height: 150px;
  margin: auto;
  width: 150px;

  @include md {
    height: 200px;
    width: 200px;
  }
}
