.logo {
  text-align: center;
  width: 100%;

  @include md {
    margin: 40px 0;
  }
}

.logo-image {
  height: 150px;
  width: 150px;

  @include md {
    height: 150px;
    width: 150px;
  }
}

.logo-link {
  @include md {
    margin: 0;
  }
}
