.menu {
  margin-bottom: 10px;
  text-align: center;

  @include md {
    margin: 20px 0;
    text-align: right;
  }
}

.menu-link {
  display: inline-block;
  text-transform: uppercase;

  &.mod-margin {
    margin-right: 10px;

    @include md {
      margin-right: 50px;
    }
  }
}