


<div class="container">
  <h1><a href="https://vestride.github.io/Shuffle/" target="_blank" rel="noopener">Shuffle</a>Template</h1>
  <div class="js-grid my-shuffle">
    <figure class="js-item column">
      <div class="aspect aspect--16x9">
        <div class="aspect__inner"><img src="https://images.unsplash.com/uploads/141310026617203b5980d/c86b8baa?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=882e851a008e83b7a80d05bdc96aa817" obj.alt="obj.alt"/></div>
      </div>
    </figure>
    <figure class="js-item column">
      <div class="aspect aspect--16x9">
        <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1484402628941-0bb40fc029e7?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=6237e62a10fa079d99b088b0db0144ac" obj.alt="obj.alt"/></div>
      </div>
    </figure>
    <figure class="js-item column">
      <div class="aspect aspect--16x9">
        <div class="aspect__inner"><img src="https://images.unsplash.com/uploads/1413142095961484763cf/d141726c?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=86dc2dcb74588b338dfbb15d959c5037" obj.alt="obj.alt"/></div>
      </div>
    </figure>
    <figure class="js-item column">
      <div class="aspect aspect--16x9">
        <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1465414829459-d228b58caf6e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=7ab1744fe016fb39feb2972244246359" obj.alt="obj.alt"/></div>
      </div>
    </figure>
    <figure class="js-item column row-span">
      <div class="aspect aspect--9x80">
        <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1416184008836-5486f3e2cf58?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=601&amp;h=676&amp;fit=crop&amp;s=5f1f1ffba05979d4248cc16d8eb82f0a" obj.alt="obj.alt"/></div>
      </div>
    </figure>
    <figure class="js-item column">
      <div class="aspect aspect--16x9">
        <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1478033394151-c931d5a4bdd6?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=57a00aabcfaa1b04fd268ea3ad4a4cbb" obj.alt="obj.alt"/></div>
      </div>
    </figure>
    <figure class="js-item column col-span">
      <div class="aspect aspect--32x9">
        <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1473175494278-d83ed8459089?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1208&amp;h=338&amp;fit=crop&amp;s=fd1cf1e8eddf88ef87015314f85ce3fb" obj.alt="obj.alt"/></div>
      </div>
    </figure>
    <figure class="js-item column">
      <div class="aspect aspect--16x9">
        <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1434144893279-2a9fc14e9337?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=d2f930bbb91de7e19e6436f5b03897b0" obj.alt="obj.alt"/></div>
      </div>
    </figure>
    <figure class="js-item column">
      <div class="aspect aspect--16x9">
        <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1464454709131-ffd692591ee5?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=eda14f45e94e9024f854b1e06708c629" obj.alt="obj.alt"/></div>
      </div>
    </figure>
    <figure class="js-item column">
      <div class="aspect aspect--16x9">
        <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1482192596544-9eb780fc7f66?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=70dabb0dcc604c558245b72f3109bbbb" obj.alt="obj.alt"/></div>
      </div>
    </figure>
    <figure class="js-item column">
      <div class="aspect aspect--16x9">
        <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1447433589675-4aaa569f3e05?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=4e19022724205e38e491961f50e47d32" obj.alt="obj.alt"/></div>
      </div>
    </figure>
    <figure class="js-item column">
      <div class="aspect aspect--16x9">
        <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1430026996702-608b84ce9281?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=363a88755a7b87635641969a8d66f7aa" obj.alt="obj.alt"/></div>
      </div>
    </figure>
    <div class="column my-sizer-element"></div>
  </div>
</div>

<%# <div class="row my-shuffle-container">
  <figure class="col-4@sm picture-item" data-groups='["animal"]' data-date-created="2016-08-12" data-title="Crocodile">
    <div class="aspect aspect--16x9">
      <div class="aspect__inner">
        <img src="http://via.placeholder.com/250x250" alt="A close, profile view of a crocodile looking directly into the camera" />
      </div>
    </div>
    <figcaption>Crocodile</figcaption>
  </figure>
  <figure class="col-4@sm picture-item" data-groups='["city"]' data-date-created="2016-06-09" data-title="Crossroads">
    <div class="aspect aspect--16x9">
      <div class="aspect__inner">
        <img src="http://via.placeholder.com/250x250" alt="A multi-level highway stack interchange in Puxi, Shanghai" />
      </div>
    </div>
    <figcaption>Crossroads</figcaption>
  </figure>
  <figure class="col-4@sm picture-item" data-groups='["nature","city"]' data-date-created="2015-10-20" data-title="Central Park">
    <div class="aspect aspect--16x9">
      <div class="aspect__inner">
        <img src="http://via.placeholder.com/250x250" alt="Looking down on central park and the surrounding builds from the Rockefellar Center" />
      </div>
    </div>
    <figcaption>Central Park</figcaption>
  </figure>
  <div class="col-1@sm my-sizer-element"></div>
</div> %>

  <%# <div class="portfolio-images">
    <div class="grid">
      <figure class="effect-ming">
        <img src="http://via.placeholder.com/250x250" alt="img09">
        <figcaption>
          <h2>Funny <span>Ming</span></h2>
          <p>Toto</p>
          <a href="#">View more</a>
        </figcaption>
      </figure>
    </div>
    <div class="grid">
      <figure class="effect-ming">
        <img src="http://via.placeholder.com/250x250" alt="img09">
        <figcaption>
          <h2>Funny <span>Ming</span></h2>
          <p>Toto</p>
          <a href="#">View more</a>
        </figcaption>
      </figure>
    </div>
    <div class="grid">
      <figure class="effect-ming">
        <img src="http://via.placeholder.com/250x250" alt="img09">
        <figcaption>
          <h2>Funny <span>Ming</span></h2>
          <p>Toto</p>
          <a href="#">View more</a>
        </figcaption>
      </figure>
    </div>
    <div class="grid">
      <figure class="effect-ming">
        <img src="http://via.placeholder.com/250x250" alt="img09">
        <figcaption>
          <h2>Funny <span>Ming</span></h2>
          <p>Toto</p>
          <a href="#">View more</a>
        </figcaption>
      </figure>
    </div>
    <div class="grid">
      <figure class="effect-ming">
        <img src="http://via.placeholder.com/250x250" alt="img09">
        <figcaption>
          <h2>Funny <span>Ming</span></h2>
          <p>Toto</p>
          <a href="#">View more</a>
        </figcaption>
      </figure>
    </div>
    <div class="grid">
      <figure class="effect-ming">
        <img src="http://via.placeholder.com/250x250" alt="img09">
        <figcaption>
          <h2>Funny <span>Ming</span></h2>
          <p>Toto</p>
          <a href="#">View more</a>
        </figcaption>
      </figure>
    </div>
    <div class="grid">
      <figure class="effect-ming">
        <img src="http://via.placeholder.com/250x250" alt="img09">
        <figcaption>
          <h2>Funny <span>Ming</span></h2>
          <p>Toto</p>
          <a href="#">View more</a>
        </figcaption>
      </figure>
    </div>
  </div> %>
</div>
